.topnav {
  overflow:hidden;
  background-color: white;
}
/* Navbar links on mouse-over */
.topnav a{
  color: black;
  margin-left:2px;
}
/* Style the input container */
.topnav .login-container {

  float: right;
}

}
/* Style the button inside the input container */
.topnav .login-container button {
  float: right;
  padding: 6px;
  margin-left:5px; 
  margin-right: 10px;
  background: #gfb500;
  font-size: 17px;
  border: .5px solid black;
  cursor: pointer; border-radius: 15px;
    box-sizing: border-box;
}

.topnav .login-container button:hover {
  background: #ccc;
}


/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
 }
body {
  font-family: 'Lato', sans-serif;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
margin-left: 60px;
}

.overlay a {
margin-left: 100px;
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

#background-image {
    background-image: url("img/mini project 1.png");
    height: 480px;
    padding-top: 20px;
    margin-top: 0px;
border-radius:4px;
}  



.thumbnail{
    float:left;
    margin-top: 10px;
margin-left: 140px;
    height: 200px;
    width:200px; 
}
/*readmore is removed by srinath add if you need*/
#readmore {
   margin-left: 120px;
    margin-top: 20px; 
   padding: 10px 30px;
   font-size: 10px;
   border-radius: 25px;box-sizing:border-box;
     border:1.5px solid white;
   font-size: 10px;
}
body {
  height: 100%;
}


h3{
    font:30px arial,sans-serif;
    text-decoration: underline;
   margin-top: 20px;
   margin-left: 50px;
    color: green;
}
h4{
margin-left:70px;

}
p{text-align:center;}


/* Style the tab */
.tab {
margin-bottom:5px;
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 200px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 20px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 200px;
}





.footer{
 position: bottom;
bottom:0;
width:100%;
  background: #152F4F;
  color:white;
}
  
  .links{
    ul {list-style-type: none;}
    li a{
      color: white;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
    }
  }  
  .about-company{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  } 
  .location{
    i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 